*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
 

body{
    width:100%;
    overflow-x: hidden;
   
    
    

}
a{
  color:#000;
 /* display: inline-block;*/
  font-size: 16px;
}
 ul,li{
  list-style-type:none;
 }
  
 img{
  max-width: 100%;
 }
 nav{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    border-bottom: 1px  #dbd8d8;
    box-shadow: 0 0.3px 2px 1px hsl(0, 5%, 76%);
 }
  
     .button{
    display: flex;
   
  }
   .button img{
    align-self: center;
   }
  
    input{
    border-radius: 30px;
    position: relative;
    background-color: #F0F2F5;
    border: 1px;
    margin-left: 5px;
    padding: 0 35px;
    width: 250px;
    height: 40px;
    align-self: center;
   
   
    
 }
  .searchicon{
    position: absolute;
    align-self: center;
    left: 5%;
    z-index: 1;
    opacity:0.5;
    
  }
   ::placeholder{
    text-align: center;
    font-size: 16px;
   
   }
  
    .right{
        padding-right: 10px;
    }

    nav ul{
      display: flex;
      justify-content: space-evenly;
    }
   .icons{
    padding: 5px 12px;
    cursor: pointer;
    display: inline-table;
    margin-right: 25px;
    border-radius: 5px;
   }
    .icons:hover{
      background-color: #F0F2F5;
    }
    
   .icon2{
   cursor: pointer;
   background-color: #F0F2F5;
   border-radius: 50%;
  padding: 10px 13px;
  align-self: center;
   }
  
   .icon2:hover{
    background-color: #dbd8d8;
   }

      .container{
        display: flex;
        padding: 10px;
        padding: 0 15px;
        margin-top: 15px;
       
      }
     .soldiv,
     .sagdiv{
        display: flex;
        flex-direction: column;
        padding: 5px ;
        overflow-y: scroll;
        height: 100vh;
        width: 22%;
       
     }

        .soldiv  ul li a{
          display: flex;
          align-items: center;
          padding: 5px 10px;
          border-radius: 10px;

        }
         .soldiv  ul li a:hover{
          background-color: rgb(230, 224, 224);
         }
          
         .soldiv ul li a .icon{
          width: 20%;
          margin-right: 10px;
         }
       
      

    .ortadiv{
       display: flex;
        width: 65%;
        padding: 0 75px;
        margin: 0 auto;
      }
       .ortadiv .story .profilsekli{
          display: flex;
          
          width: 110px;
          height: 200px;
          position: relative;
          border-radius: 8px;
          overflow: hidden;
        }

       .ortadiv .story .profilsekli .profsekli{
         
          position: absolute;
          width: 100%;
          height: 100%;

        }
      .ortadiv .story .profilsekli .profsekli img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

       
       
        .sagdiv  ul li a{
          display: flex;
          align-items: center;
          padding: 5px 10px;
          border-radius: 10px;

        }
         .sagdiv  ul li a:hover{
          background-color: rgb(230, 224, 224);
         }
          
         .sagdiv ul li a .icon{
          width: 20%;
          margin-right: 10px;
         }
      
        
       
        
         
               
              
              

   
    

      

      